
.title-intro{
    background-image: url("https://i.scdn.co/image/ab67616d0000b2732123ad73c2db3af393e76930");
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-evenly;
    justify-items: auto;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia;
    font-weight: 900;
    font-size: 40pt;
    text-shadow: 4px 4px 2px rgb(8, 79, 134);
}
h2{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30pt;
    color: rgb(8, 79, 134);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    margin-bottom: 0%;
}
h3{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 20pt;
    color: rgb(8, 79, 134);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
h4{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px rgb(8, 79, 134);
}
body{
    background-color: rgb(251, 167, 167);
    font-family: Georgia;
    font-weight: 500;
    font-size: 15pt;
    align-content: center;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    justify-content: space-evenly;
    justify-items: auto;
}
.verse1{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
.verse2{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
.verse3{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
.verse4{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
.verse5{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
.verse6{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
.verse7{
    align-items: center;
    align-content: center;
    color: white;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 25px;
}
